* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  background: linear-gradient(to bottom right, #0e1a2b, #040d1a);
  color: #e0e6f0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  margin: 0;
}


.background {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 170%;
  height: 170%;
  z-index: 0;
  transform: rotate(25deg);
  background-image: url('images/bg.svg');
  background-repeat: repeat;
  background-size: 200px 200px;
  opacity: 1.5%;
  pointer-events: none;
  animation: scroll-bg 2s linear infinite;
}

@keyframes scroll-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200px 0px;
  }
}

.main-content {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(21, 37, 58, 0.5);
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px 0;
  border-bottom: 3.5px solid rgba(26, 49, 78, 0.7);
  z-index: 2;
  box-shadow: 5px 50px 30px rgba(4, 13, 26, 0.5);
  box-shadow: 5px 5px rgba(4, 13, 26, 0.5);
}

nav a {
  color: #80a1cb;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

nav a:hover,
nav a.active {
  color: #e0e6f0;
  border-bottom: 2px solid rgb(35, 68, 109)
}

.logo {
  margin-top: 25px;
  width: 150px;
  height: 150px;
  position: relative;
  z-index: 2;
}

.portfolio-title {
  margin-top: 25px;
  font-size: 3rem;
  margin-bottom: 0.5rem;
  position: relative;
  z-index: 2;
  color: #d6e0f0;
}

h2 {
  font-size: 1.5rem;
  color: #a4b3c6;
  position: relative;
  z-index: 2;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #8ca1b9;
  position: relative;
  z-index: 2;
}

.divider {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 1000px;
  height: 30px;
  opacity: 20%;
  position: relative;
  z-index: 2;
}
